
html, body { 
  background: white; 
  margin:0 !important;
	padding:0 !important;
	width:100% !important;
 height: 100% !important;
}

.subimage img{
	position:relative;
	width:100%;
	height:100%;
}

.fact1{
	position:relative;
	max-width:5%;
	max-height:5%;
	margin-top:-25%;
	height: auto;
  width: auto;
	left:10%;
}

.fact1 img{
width:80%;
height:80%;
}

.fact2{
	position:relative;
	max-width:5%;
	max-height:5%;
	margin-top:5%;
	height: auto;
  width: auto;
	left:25%;
}

.fact2 img{
width:80%;
height:80%;
}

.fact3{
	position:relative;
	max-width:5%;
	max-height:5%;
	margin-top:-5%;
	height: auto;
    width: auto;
	left:50%;
}

.fact3 img{
width:80%;
height:80%;
}

.fact4{
	position:relative;
	max-width:5%;
	max-height:5%;
	margin-top:-10%;
	height: auto;
    width: auto;
	left:35%;
}

.fact4 img{
width:80%;
height:80%;
}

.fact5{
	position:relative;
	float:right;
	max-width:5%;
	max-height:5%;
	margin-top:-5%;
	height: auto;
    width: auto;
	right:12%;
}

.fact5 img{
width:80%;
height:80%;
}

img.subgif {
	width:120px;
	height:120px;
}

video.subvid{
	width:160px;
	height:160px;
}

img.nucleargif {
	width:200px;
	height:120px;
}

.fact1 p {
	
  display: none;
  color: #000000;
}

.fact1:hover p {
	
	position:absolute;
  display: inline-block;
}

.fact2 p {
  display: none;
  color: #000000;
}
.fact2:hover p {
	position:absolute;
  display: inline-block;
}

.fact3 p {
  display: none;
  color: #000000;
}
.fact3:hover p {
  background-color:rgb(0,83,98);
  display: inline-block;
}

.fact4 p {
  display: none;
  color: #000000;
}
.fact4:hover p {
  background-color:rgb(0,83,98);
  display: inline-block;
}

.fact5 p {
  display: none;
  color: #000000;
}
.fact5:hover p {
  background-color:rgb(0,83,98);
  display: inline-block;
}
