body {
	background-color: rgb(0,83,98);
}

header {
		position:absolute;
		top:0;
		right: 0;
        bottom: 0;
  		left: 0;
  		padding: 0.5rem;
		background: white;
		height: 20%;
		min-width:100%;
		border-bottom-style: solid;
		border-color:black;
	   }

div.navcontainer {
		height: 10em;
   		position: relative;
}

div.navleft {
		margin: 0;
   	    position: absolute;
		top:45%;
        left: 20%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 1%;
		
}	

div.navright {
	    margin: 0;
   	    position: absolute;
		top:45%;
        left:80%;
		margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 1%;
}   

div.containerlogo {
    	height: 10em;
   		position: relative;
		max-width: 100%;
   		height: auto;
    	width: auto\9; /* ie8 */
		
	   }

div.containerlogo p {
  	    margin: 0;
   	    position: absolute;
		top:0%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 10px;
		
	   }
     	   						
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
}

ul.topnav li {
	float: left;
	}

ul.topnav li a {
    display: inline-block;
    color: steelblue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
	width:140px;	
}

ul.topnav li a:hover {
	background-color: black;
	}

ul.topnav li.icon {
	display: none;
	}

