body {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	margin:0;
	overflow-x:hidden;
}

header {
		position:relative;
		top:0;
		background: white;
		height: 20%;
		min-width:100%;
		border-bottom-style: solid;
		border-color:black;
		z-index: 100;
		
	   }

header div {
	height: 96px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

header div a img{
	height: 100%;
}

nav {
	clear: both;
	overflow: hidden;
}
/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display: none;
	position: static;
	
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	width: 100%;
	
}

/*Style for menu links*/
li a {
	display:block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

li ul {
	display: none;
}

li ul li {
	display: block;
	float: none;
}

li ul li a {
	width: 100%;
	
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: block;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

label.subClass {
	color:white;
	font-size: 24;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position:relative;
	right: -42%;
	top:50px;
	z-index:100;
}

section {
	position: relative;
		
}

section.wepinfo{
	position:relative;
	float:left;
	margin-top:5%;
	left:5%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
	
}


section.subinfo {
    position:relative;
	float:right;
	margin-top:5%;
	right:-15%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

section.engineinfo {
	position:relative;
	float:left;
	margin-top:5%;
	left:8%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

section.operationinfo {
	position:relative;
	float:right;
	margin-top:5%;
	right:28%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}


.container h1 {
    color: white;
}

section.mainBox {
	
	width:100%;
	position:relative;
	
}

section.img {
	display:block;
	width:100%;
	
}

section.box1 {
	width:50%;
	margin:0 auto;
	overflow:none;
	margin-top:5%;
	
}

section.box1 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
	
}

section.box1 p{
	padding-bottom:1em;
	margin:0 auto;
	text-align: center;
	width:70%;
	font-size:10px;
	border-bottom: solid;
	border-color: lightgray;
	margin-bottom: 5%;
}

section.box2 {
	width:50%;
	margin:0 auto;
	overflow:auto;
}

section.box2 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
}

section.box2 p{
	padding-bottom:1em;
	text-align: center;
	margin:0 auto;
	width:70%;
	font-size:10px;
	border-bottom: solid;
	border-color: lightgray;
	margin-bottom: 5%;
}

section.box3 {
	width:50%;
	margin:0 auto;
	overflow:auto;
}

section.box3 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
	
}

section.box3 p{
	padding-bottom:1em;
	margin: 0 auto;
	text-align: center;
	width:70%;
	font-size:10px;
}

h3 {
	color: white;
	margin-left:40%;
}

#map {
	 height: 400px;
        width: 80%;
		left:10%
}
h1.aboutTitleFormat {
	position:relative;
	display:inline-block;
	width:100%;
	color: white;
	text-align: center;
	margin:0 auto;
	padding:0;
}

section.mainBox{
	margin:0 auto;
	text-align: center;	
}

/* mobile ready 576 px */
@media (min-width: 576px){

	
	section.wepinfo{
	font-size: 16px;
	
}
section.operationinfo{
	font-size: 16px;
	
}
section.subinfo{
	font-size: 16px;
	
}
section.engineinfo{
	font-size: 16px;
	
}

section.wepinfo img{
	width:30%;
	height:30%;
	
}
section.operationinfo img{
	width:30%;
	height:30%;
	
}
section.subinfo img{
	width:30%;
	height:30%;
	
}
section.engineinfo img{
	width:30%;
	height:30%;
	
}

h1.aboutTitleFormat {
	position:relative;
	display:inline-block;
	width:100%;
	color: white;
	text-align: center;
	margin:0 auto;
	padding:0;
}

section.box1 p{
	font-size:14px;
}

section.box2 p{
	font-size:14px;
}

section.box3 p{
	font-size:14px;
}

section.mainBox{
	text-align: center;	
}
section.box1 img{
	
	width:15%;
	height:15%;
	
}
section.box2 img{
	
	width:15%;
	height:15%;
	
}
section.box3 img{
	
	width:15%;
	height:15%;
	
}
section.box1 p{
	padding-bottom:1em;
	float:right;
	text-align: left;
	width:70%;
}

section.box2 p{
	padding-bottom:1em;
	float:left;
	text-align: right;
	width:70%;
}
section.box3 p{
padding-bottom:1em;
	float:right;
	text-align: left;
	width:70%;
}

.infoholder {
	position:relative;
    clear: both;
    margin: 0 auto;
	overflow:hidden;
    background-color: yellow;
    bottom: 0;
    padding: 0;
    text-align: center;
    width: 80%;
    height: 70px;
    }

	.infoholder img.timeicon {
	clear:both;
	margin: 0 auto;
	height:70%;
    }

div.weather_widget {
	display:inline-block;
	width:5%;
	height:70%;
	margin: 0;
	padding: 0;
	border:0;
	float:left;
}

div.weather_widget img {
	margin: 0;
	padding: 0;
	border:0;
	left:20%;
	width:100%;
	height:100%;
}

div#time {
	top:0;
	text-align: center;
	margin: 0 auto;
	width:30%;
	height:150px;
	
}

div.museumicon {
	top:0;
	width:30%;
	height:150px;
	float:right;
}

div.museumicon img {
	margin: 0;
	padding: 0;
	border:0;
	width:20%;
	height:20%;
}
}
/* mobile ready 576 px end */

@media (min-width: 760px){
.show-menu{display: none};
nav ul {
	display: inline-block;
}

nav #menu li{
	width: 20%;
	float: left;
	
}

li form {
	display:block;
	height: 50px;
	text-align: center;
	line-height: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

#menu{
	display: block;
}
}