body {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	margin:0;
	overflow-x:hidden;
}

header {
		position:relative;
		top:0;
		right: 0;
        bottom: 0;
  		left: 0;
		background: white;
		height: 20%;
		min-width:100%;
		border-bottom-style: solid;
		border-color:black;
	   }


nav{
		height: 10em;
   		position: relative;
}

div.navleft {
		margin: 0;
   	    position: absolute;
		top:45%;
        left: 20%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 1%;
		
}	

div.navright {
	    margin: 0;
   	    position: absolute;
		top:45%;
        left:80%;
		margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 1%;
}   

h1 {
    	height: 10em;
   		position: relative;
		max-width: 100%;
		margin: 0;
   	    position: absolute;
		top:0%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		height: 10px;
		
	   }
   	   						
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
}

ul.nav li {
	float: left;
}

ul.nav li a {
    display: inline-block;
    color: steelblue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
	width:140px;	
}

ul.nav li a:hover {
	background-color: black;
	}

ul.nav li.icon {
	display: none;
	}

form{
	padding:0;
	margin:0;
	position:relative;
	top:-120px;
	right:15%;
	float:right;
}

label.subClass {
	color:white;
	font-size: 24;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position:relative;
	right: -42%;
	top:50px;
	z-index:100;
}

section {
	position: relative;
		
}

section.wepinfo{
	position:relative;
	float:left;
	margin-top:5%;
	left:5%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
	
}


section.subinfo {
    position:relative;
	float:right;
	margin-top:5%;
	right:-15%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

section.engineinfo {
	position:relative;
	float:left;
	margin-top:5%;
	left:8%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

section.operationinfo {
	position:relative;
	float:right;
	margin-top:5%;
	right:28%;
	width:20%;
	height:30%;
	color:white;
	font-size: 10px;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}


.container h1 {
    color: white;
}

section.mainBox {
	width:100%;
	position:relative;
	
}

section.img {
	display:block;
	width:100%;
	
}

section.box1 {
	width:50%;
	margin:0 auto;
	overflow:none;
	margin-top:5%;
	
}

section.box1 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
	
}

section.box1 p{
	padding-bottom:1em;
	margin:0 auto;
	text-align: center;
	width:70%;
	font-size:10px;
	border-bottom: solid;
	border-color: lightgray;
	margin-bottom: 5%;
}

section.box2 {
	width:50%;
	margin:0 auto;
	overflow:auto;
}

section.box2 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
}

section.box2 p{
	padding-bottom:1em;
	text-align: center;
	margin:0 auto;
	width:70%;
	font-size:10px;
	border-bottom: solid;
	border-color: lightgray;
	margin-bottom: 5%;
}

section.box3 {
	width:50%;
	margin:0 auto;
	overflow:auto;
}

section.box3 img{
	position:relative;
	top:0;
	padding:0.5em;
	width:40%;
	height:40%;
	
}

section.box3 p{
	padding-bottom:1em;
	margin: 0 auto;
	text-align: center;
	width:70%;
	font-size:10px;
}

h3 {
	color: white;
	margin-left:40%;
}

#map {
	 height: 400px;
        width: 80%;
		left:10%
}
h1.aboutTitleFormat {
	position:relative;
	display:inline-block;
	width:100%;
	color: white;
	text-align: center;
	margin:0 auto;
	padding:0;
}

section.mainBox{
	margin:0 auto;
	text-align: center;	
}

/* mobile ready 576 px */
@media (min-width: 576px){
	section.wepinfo{
	font-size: 16px;
	
}
section.operationinfo{
	font-size: 16px;
	
}
section.subinfo{
	font-size: 16px;
	
}
section.engineinfo{
	font-size: 16px;
	
}

section.wepinfo img{
	width:30%;
	height:30%;
	
}
section.operationinfo img{
	width:30%;
	height:30%;
	
}
section.subinfo img{
	width:30%;
	height:30%;
	
}
section.engineinfo img{
	width:30%;
	height:30%;
	
}

h1.aboutTitleFormat {
	position:relative;
	display:inline-block;
	width:100%;
	color: white;
	text-align: center;
	margin:0 auto;
	padding:0;
}

section.box1 p{
	font-size:14px;
}

section.box2 p{
	font-size:14px;
}

section.box3 p{
	font-size:14px;
}

section.mainBox{
	margin:0 auto;
	text-align: center;	
}
section.box1 img{
	
	width:15%;
	height:15%;
	
}
section.box2 img{
	
	width:15%;
	height:15%;
	
}
section.box3 img{
	
	width:15%;
	height:15%;
	
}
section.box1 p{
	padding-bottom:1em;
	float:right;
	text-align: left;
	width:70%;
}

section.box2 p{
	padding-bottom:1em;
	float:left;
	text-align: right;
	width:70%;
}
section.box3 p{
padding-bottom:1em;
	float:right;
	text-align: left;
	width:70%;
}
}
/* mobile ready 576 px end */

